In [1]:
import pandas as pd
import numpy as np

In [2]:
data=pd.read_csv('ab_browser_test.csv')

In [5]:
exp_clicks=data[data.slot=='exp']['n_clicks']

In [6]:
exp_clicks

0          23
1           3
2          29
4          54
6           6
8           2
10          7
11          4
12          2
14         21
16         10
17         25
18         72
20          4
21          7
23         22
26          3
27          1
28         39
31         32
35          5
36          4
38          5
40         23
41          9
42         63
43         35
44        134
45          9
49          8
         ...
566061      1
566063      1
566064      0
566068      1
566069      0
566070      0
566073      0
566074      0
566077      2
566079      3
566081      0
566083      1
566084      1
566086      2
566091      6
566093      1
566097      7
566099      0
566100      4
566101      0
566103      1
566104      2
566108      2
566116      0
566123      0
566125      0
566126      0
566127      4
566130      4
566133      3
Name: n_clicks, dtype: int64